<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="person" class="com.xzz.chaper01.section04.test07.Person">
		<replaced-method name="random" replacer="myMethodReplacer"></replaced-method>
	</bean>

	<bean id="myMethodReplacer" class="com.xzz.chaper01.section04.test07.MyMethodReplacer"></bean>

</beans>