<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 注入list, set, map, properties -->
	<!-- 父集合必须定义在bean元素中, 如果父bean是一个抽象的bean, 则可以不定义class属性, 此时其就是一个单纯的集合, 
		如果定义了class属性, 子bean与父bean类型一致, 子bean或省略class属性, 如果二者不一致,则要能兼容-->
	<!-- abstract="true" -->
	<bean id="collectionTest"
		class="com.xzz.chaper01.section04.test04.CollectionTest">
		<property name="list">
			<list>
				<value>AAA</value>
				<value>BBB</value>
				<value>CCC</value>
			</list>
		</property>
		
		<property name="intList">
			<list>
				<value>-100</value>
				<value>0</value>
				<value>100</value>
			</list>
		</property>

		<property name="set">
			<set>
				<value>DDD</value>
				<value>EEE</value>
				<value>FFF</value>
			</set>
		</property>

		<property name="map">
			<map>
				<entry key="aaa" value="AAA"></entry>
				<entry key="bbb" value="BBB"></entry>
				<entry key="ccc" value="CCC"></entry>
			</map>
		</property>

		<property name="properties">
			<props>
				<prop key="xxx">XXX</prop>
				<prop key="yyy">YYY</prop>
				<prop key="zzz">ZZZ</prop>
			</props>
		</property>
	</bean>

	<!-- 集合合并 -->
	<bean id="child"
		class="com.xzz.chaper01.section04.test04.CollectionTest"
		parent="collectionTest">
		<property name="list">
			<list merge="true">
				<value>OOO</value>
			</list>
		</property>

		<property name="set">
			<set merge="true">
				<value>OOO</value>
			</set>
		</property>

		<property name="map">
			<map merge="true">
				<entry key="ooo" value="OOO"></entry>
			</map>
		</property>

		<property name="properties">
			<props merge="true">
				<prop key="ooo">OOO</prop>
			</props>
		</property>
	</bean>
</beans>