<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop 
        https://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 自定义BeanPostProcessor, 将其注册为bean后, 在创建每个bean时都会执行它的逻辑 -->
	<bean class="com.xzz.chaper01.section08.test01.MyBeanPostProcessor"/>

	
	<bean id="beanA" class="com.xzz.chaper01.section08.test01.BeanA"></bean>
	<bean id="beanB" class="com.xzz.chaper01.section08.test01.BeanB"></bean>
	<bean id="beanB1" class="com.xzz.chaper01.section08.test01.BeanB"></bean>

</beans>