<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop 
        https://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 开启注解扫描 -->
	<!-- JSR-250注解实现生命周期管理 -->
	<context:annotation-config/>
	<bean id="annotationLife" class="com.xzz.chaper01.section06.test01.AnnotationLife"></bean>

	<!-- xml配置生命周期 -->
	<bean id="xmlLife" 
		class="com.xzz.chaper01.section06.test01.XmlLife"
		init-method="init"
		destroy-method="destroy"></bean>

	<!-- 实现接口进行生命周期管理 -->
	<bean class="com.xzz.chaper01.section06.test01.ImplementsInterfaceLife"></bean>

	<!-- 实现Lifecycle接口 -->
	<bean class="com.xzz.chaper01.section06.test01.MyLifecycle"/>

</beans>